html{
    width: 100%;
}
body {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #0D2C40;
  margin: 0;
}
h1, h2, h3, a{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  text-align: center;
  font-size: 45px;
  margin: 0;
}

h2{
  font-size: 20px;
}

p {
  font-size: 18px;
  line-height: 26px;
}

ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a{
  color: #F15B31;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  margin: 0 20px;

}

header{
  background-color: #F15B31;
  color: #FFF;
  padding: 30px 20px;
  margin: 0;
}
nav{
  background-color: #00A6B3;
  color: #FFF;
  padding: 8px;
}

nav a{
  color: #FFF;
}

main{
  width: 900px;
  margin: 15px auto;
}

/* nav .selected{
  background-color: #F15B31;
  color: #FFF;
  padding: 8px;
} */

.game{
}

.card{
  float: left;
  margin: 25px;
}

.instructions{
  padding: 2em;
}
